{% extends 'base.html' %}
{% block title %}Error 401 - No autorizado{% endblock %}

{% block body %}
<div class=" text-white flex items-center justify-center min-h-screen p-4">

    <div class="text-center">
        <h1 class="text-7xl font-bold text-red-500 mb-4">401</h1>
        <p class="text-black mb-6">No tienes permisos para acceder aqui a esta pagina o tu sesion ha expirado
            Por favor Inicia sesion nuevamente.</p>
        <a href="/iniciarsesion" class="inline-block bg-blue-600 text-white font-semibold px-6 py-2 rounded-lg shadow hover:bg-blue-700 transition duration-300">Volver al inicio</a>
    </div>
</div>
{% endblock %}