<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/logo/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <!-- cdn awensome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-white min-h-screen text-gray-800 font-sans">
    {% if current_user.is_authenticated %}
        <!-- Header -->
        <header class="bg-gray-300 shadow">
            <nav class="max-w-6xl mx-auto px-4 py-2 flex items-center justify-between">
                <!-- Logo -->
                <div class="flex items-center space-x-2">
                    <a href=" {{ url_for('inicio' ) }}"><img src="../static/logo/Eventis.png" alt="logo web" class="h-10 sm:h-12 md:h-16 lg:h-20 xl:h-24 w-auto object-contain"></a>
                </div>    
            
                <div id="nav-links" class="hidden w-full sm:flex sm:w-auto sm:space-x-6 mt-2 sm:mt-0 flex-col sm:flex-row text-sm sm:text-base font-medium text-center ">
                    <a href="#" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Eventos</a>
                    <a href="{{ url_for('contacto' ) }}" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Contacto</a>
                    <div class="relative">
                        <!-- Botón Perfil -->
                        <a href="#" onclick="document.getElementById('perfilDropdown').classList.toggle('hidden'); return false;" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Perfil<br>({{ current_user.saldo }} €)</a>
                        <!-- Menú desplegable justo debajo -->
                        <div id="perfilDropdown" class="absolute left-0 mt-2 w-48 rounded-md bg-white border border-gray-200 shadow-lg hidden z-20">
                            <a href="{{ url_for('perfil') }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Ver perfil</a>
                            <a href="{{ url_for('historial_compras' ) }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Historial de compras</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Editar cuenta</a>
                        </div>
                    </div>
                    <a href="{{ url_for('logout' ) }}" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Cerrar sesion</a>
                </div>
            </nav>
        </header> 
        <!-- Fin del header -->
    {% else %}
    {% block header %}
    <!-- Header -->
    <header class="bg-gray-300 shadow">
        <nav class="max-w-6xl mx-auto px-4 py-2 flex items-center justify-between">
            <!-- Logo -->
            <div class="flex items-center space-x-2">
                <a href=" {{ url_for('inicio' ) }}"><img src="../static/logo/Eventis.png" alt="logo web" class="h-10 sm:h-12 md:h-16 lg:h-20 xl:h-24 w-auto object-contain"></a>
            </div>    
        
        <div id="nav-links" class="hidden w-full sm:flex sm:w-auto sm:space-x-6 mt-2 sm:mt-0 flex-col sm:flex-row text-sm sm:text-base font-medium text-center ">
            <a href="#" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Eventos</a>
            <a href="{{ url_for('contacto' ) }}" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Contacto</a>
            <a href="{{ url_for('iniciar_sesion' ) }}" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Iniciar sesión</a>
            <a href="{{ url_for('register' ) }}" class="block w-max px-3 py-1 rounded-md hover:bg-gray-800 text-black hover:text-white transition-opacity duration-300 ease-in-out">Registrarte</a>
        </div>
        </nav>
    </header>
    <!-- Fin del header -->
    {% endblock %}
    {% endif %}
    {% block body %}
    <!-- Contenido principal -->
    {% endblock %}
    {% block footer %}
    <!-- Footer -->
    <footer class=" bg-gray-300 text-white py-8">
            <div class="max-w-7xl mx-auto px-6 grid grid-cols-1 md:grid-cols-4 gap-8">
        
            <!-- Información legal -->
            <div>
                <h3 class="text-lg text-black font-semibold mb-2">Legal</h3>
                <ul class="space-y-1 text-sm text-black">
                    <li><a href="{{ url_for('aviso_legal' ) }}" class="hover:text-blue-600">Aviso legal</a></li>
                    <li><a href="{{ url_for('politica_privacidad' ) }}" class="hover:text-blue-600 transition-all">Política de privacidad</a></li>
                    <li><a href="{{ url_for('terminos_condiciones') }}" class="hover:text-blue-600 transition-all">Términos y condiciones</a></li>
                </ul>
            </div>

            <!-- Redes sociales -->
            <div>
                <h3 class="text-lg text-black font-semibold mb-2">Síguenos</h3>
                <div class="flex space-x-4 text-black">
                    <a href="https://twitter.com" target="_blank" class="hover:text-blue-600 transition-all">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                    <a href="https://instagram.com" target="_blank" class="hover:text-blue-600 transition-all">
                        <i class="fab fa-instagram"></i> Instagram
                    </a>
                    <a href="https://facebook.com" target="_blank" class="hover:text-blue-600 transition-all ">
                        <i class="fab fa-facebook"></i> Facebook
                    </a>
                </div>
            </div>
        </div>
        
        <!-- Créditos -->
            <div class="mt-10 border-t border-gray-700 pt-4 text-center text-xl text-black">© 2025 Eventis. Todos los derechos reservados.</div>
        </footer>   
    {% endblock %}
</body>
</html>