<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <!-- cdn awensome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-white text-gray-800 font-sans">
    {% block header %}
    <!-- Header -->
    <header class="bg-gray-300 shadow">
        <nav class="max-w-6xl mx-auto px-4 py-2 flex items-center justify-between">
            <!-- Logo -->
            <div class="flex items-center space-x-2">
                <a href=" {{ url_for('inicio' ) }}"><img src="../static/logo/Eventis.png" alt="logo web" class="h-10 sm:h-12 md:h-16 lg:h-20 xl:h-24 w-auto object-contain"></a>
            </div>    
        
        <div id="nav-links" class="hidden w-full sm:flex sm:w-auto sm:space-x-6 mt-2 sm:mt-0 flex-col sm:flex-row text-sm sm:text-base font-medium text-center ">
            <a href="#" class="hover:text-blue-600 py-1 sm:py-0">Eventos</a>
            <a href="#" class="hover:text-blue-600 py-1 sm:py-0">Contacto</a>
            <a href="{{ url_for('iniciar_sesion' ) }}" class="hover:text-blue-600 py-1 sm:py-0">Iniciar sesión</a>
            <a href="{{ url_for('register' ) }}" class="hover:text-blue-600 py-1 sm:py-0">Registrarte</a>
        </div>
        </nav>
    </header>
    
    <!-- Fin del header -->

    {% endblock %}
    {% block body %}
    
    {% endblock %}
    {% block footer %}
    <!-- Footer -->
    <footer class="bg-gray-300 text-white py-8">
        <div class="max-w-6xl mx-auto px-4 flex flex-col sm:flex-row justify-between items-center">
            <!-- Enlaces -->
            <div class="flex text-black space-x-6 mb-4 sm:mb-0">
                <a href="#" class="hover:text-blue-400 text-sm">Política de privacidad</a>
                <a href="#" class="hover:text-blue-400 text-sm">Términos y condiciones</a>
                <a href="#" class="hover:text-blue-400 text-sm">Soporte</a>
            </div>
    
            <!-- Redes sociales -->
            <div class="flex space-x-4">
                <a href="#" class="text-black hover:text-blue-500">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="#" class="text-black hover:text-blue-500">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="text-black hover:text-blue-500">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
            </div>
        </div>
    </footer>    
    {% endblock %}
</body>
</html>