{% extends 'base.html' %}
{% block title %}Recuperar Contraseña{% endblock %}
{% block body %}
<div class="relative bg-cover bg-center">
    <div class="relative z-10 flex items-center justify-center px-4 py-8">
        <div class="bg-black bg-opacity-60 text-white p-8 rounded-xl w-full max-w-md sm:max-w-lg md:max-w-xl shadow-lg">
            <h1 class="text-4xl font-bold text-center mb-8">Nueva contraseña</h1>
            <form href="/cambiar_contraseña/{{token}}" method="POST" class="space-y-6">
                {{ form.hidden_tag() }}                  
                <div class="relative">
                    {{ form.password.label(class="block text-lg font-bold mb-1") }}
    
                    <div class="flex items-center relative">
                    {{ form.password( placeholder="Escribe tu contraseña",class="w-full px-4 py-2 rounded-md text-black focus:outline-none focus:ring-2 focus:ring-blue-400") }}        
                        <button type="button" onclick="togglePassword()" class="absolute right-3">
                        <svg id="togglePasswordIcon" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="w-5 h-5 text-gray-500">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 
                                    9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 
                                    19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        </button>
                    </div>
                    <div class="mt-4">
                        {{ form.submit(class="w-full bg-white text-black font-bold py-2 rounded-md shadow hover:bg-gray-200 transition")}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function togglePassword() {
        const input = document.getElementById("password");
        const icon = document.getElementById("togglePasswordIcon");
        const isHidden = input.type === "password";
        input.type = isHidden ? "text" : "password";
    }
    function togglePassword() {
        const input = document.getElementById("password");
        const icon = document.getElementById("togglePasswordIcon");

        const isHidden = input.type === "password";
        input.type = isHidden ? "text" : "password";

        // Cambiar el icono
        if (isHidden) {
        // Ojo tachado (contraseña visible)
        icon.innerHTML = `
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51
                        7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963
                        7.178.07.207.07.431 0 .639C20.577 16.49
                        16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                `
        } else {
        // Ojo normal (contraseña oculta)
                icon.innerHTML = `
            <path stroke-linecap="round" stroke-linejoin="round"
            d="M3.98 8.223a10.477 10.477 0 0 0-1.944 3.777
                10.477 10.477 0 0 0 17.928 3.39M6.53 6.53
                17.47 17.47M10.5 10.5a3 3 0 1 0 4.243 4.243M9.878
                14.121a3 3 0 0 1 4.243-4.243" />
        `
        }
    } 
</script>
{% endblock %}