{% extends 'base.html' %}
{% block title %}Inicio{% endblock %}


{% block body %}
        <!-- Categorías -->
    <section class="max-w-6xl mx-auto px-6 py-10 ">
        <h2 class="text-2xl font-semibold mb-4">Eventos destacados</h2>
        <div class="flex flex-wrap justify-center gap-6">
            <div class="flex flex-col items-center space-y-1 w-20">
                <a class="flex flex-col" href="/eventos?categoria=1">
                    <img src="" class="w-16 h-16 rounded-full border-2 border-blue-400" />
                    <span class="text-xs text-center">Concierto</span>
                </a>
            </div>
            <div class="flex flex-col items-center space-y-1 w-20">
                <a class="flex flex-col" href="/eventos?categoria=2">
                    <img src="" class="w-16 h-16 rounded-full border-2 border-yellow-400" />
                    <span class="text-xs text-center">Teatro</span>
                </a>
            </div>
            <div class="flex flex-col items-center space-y-1 w-20">
                <a class="flex flex-col"  href="/eventos?categoria=3">
                    <img src="" class="w-16 h-16 rounded-full border-2 border-pink-400" />
                    <span class="text-xs text-center">Cine</span>
                </a>
            </div>
            <div class="flex flex-col items-center space-y-1 w-20">
                <a class="flex flex-col" href="/eventos?categoria=4">
                    <img src="" class="w-16 h-16 rounded-full border-2 border-purple-400" />
                    <span class="text-xs text-center">Deporte</span>
                </a>
            </div>
        </div>
    </section>

    <!-- Bienvenida -->
    <section class="max-w-3xl mx-auto px-4 mb-10">
        <div class="bg-gray-100 p-5 rounded-lg shadow-sm">
            <h2 class="text-3xl sm:text-lg font-semibold mb-2">¡Bienvenidos a Eventis!</h2>
            <p class="text-xl leading-relaxed">Aquí encontrarás todo lo que necesitas para organizar y gestionar eventos de forma sencilla y profesional. Puedes planificar fiestas, conciertos, reuniones, conferencias o cualquier otra actividad. Nos adaptamos a tus necesidades y estamos para ayudarte a convertir tus ideas en experiencias inolvidables.</p>
        </div>
    </section>

    <h1 class="text-3xl font-bold mb-6 text-center">Galería de Eventos</h1>

    <div class="relative w-full max-w-2xl mx-auto overflow-hidden rounded-lg shadow-lg bg-white mb-20">
        <div id="carrusel" class="flex transition-transform duration-500 ease-in-out">
        {% for img in imagenes %}
            <img src="{{ img }}" class="w-full flex-shrink-0 object-cover h-80" alt="Imagen del evento {{ loop.index }}">
        {% endfor %}
        </div>

        <!-- Controles -->
        <button onclick="mover(1)" class="absolute top-1/2 right-2 -translate-y-1/2 bg-white p-2 rounded-full shadow hover:bg-gray-200">
            &#10095;
        </button>

        <button onclick="mover(-1)" class="absolute top-1/2 left-2 -translate-y-1/2 bg-white p-2 rounded-full shadow hover:bg-gray-200">
            &#10094;
        </button>

    </div>


<script>
    const carrusel = document.getElementById("carrusel");
    const total = {{ imagenes|length }};

    let indice = 0;

    function mover(dir) {
        indice = (indice + dir + total) % total;
        carrusel.style.transform = `translateX(-${indice * 100}%)`;
    }
</script>

{% endblock %}
